<!DOCTYPE html>
<html lang="en" ng-app="InfyGeo">
<head>
    <title>InfyGeo</title>
    <link rel=" stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="Content/app.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places,visualization&v=3.exp"></script>
</head>
<body>
    <div ng-controller="HomeController">
        <div class="text-center col-xs-12">
            <div>
                <h1><a href="/"> {{Title}}</a></h1>
                <div ng-show="isLocationEditable" class="form-group">
                    <input type="text" ng-model="Location" placeholder="Change location" />
                    <button ng-click="setLocation()">Set</button>
                </div>
                <div ng-show="!isLocationEditable" ng-click="AllowChangeLocation()">
                    <div class="glyphicon glyphicon-map-marker"></div>

                    <span>
                        {{Location}}
                    </span>
                </div>
            </div>
            <p>{{Description}}</p>
        </div>
        <div ng-view></div>
    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="Scripts/search.js"></script>
    <!--<script src="Features/People/People.js"></script>-->
</body>
</html>
