<div ng-controller="OfficeController" class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <a class="btn btn-info btn-block" ng-click="searchSSN()" href="" ng-href="">
                <h3>SSN</h3>
                <span>Social Security Number</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a class="btn btn-warning btn-block" ng-click="searchInfy()" href="" ng-href="">
                <h3>Nearby Infosys Office</h3>
                <span>This is my Infy!!!</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div id="results" class="card"></div>
        </div>
        <div>
            <div id="map" style="top:10px;"></div>
        </div>
    </div>
    
</div>