<div ng-controller="PeopleController" class="container">
    
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">{{NearbyTitle}}</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr ng-repeat="person in People | orderBy: 'Distance'">
                                <td class="icon-bar">
                                    <span class="text-info"><b> {{person.Name}}</b></span>  <br />
                                    {{person.Email}}, {{person.City}} ({{person.Distance}} miles) <br />
                                    <a href="" class="btn-link"> <span class="label label-info">Connect</span></a>
                                </td>
                                <td>
                                    <a href="#" class="thumbnail" style="border:0">
                                        <img src="Content/Images/{{person.ImgName}}" class="img-responsive img-circle" width="30" height="30" alt="{{person.Name}}" />
                                    </a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="panel-footer"><a href="">Load more...</a></div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">{{CompanionTitle}}</div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                            <tr ng-repeat="person in Comapanions | orderBy: 'Date'">
                                <td class="icon-bar">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="text-info"><b>{{person.Name}}</b></span>  <br />
                                    {{person.Date}}, {{person.Airport}} {{person.Arrival}} from {{person.Departure}}
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="panel-footer"><a href="">Load more...</a></div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="/" class="btn btn-info">Back</a>
    </div>
    <span>{{Location}}</span>
</div>
